doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title #{app.appname} | Login
		include ../../layout/cgHeader.pug

		style.
			.login-container {
				max-width: 420px;
				width: 100%;
			}

			.content-wrapper {
				background: url('/resources/assets/img/logo/bgnd/cloud.jpg') no-repeat center center fixed !important;
				background-size: cover !important;
			}

	body( class="hold-transition layout-top-nav" )
		.wrapper

			// Content Wrapper
			div.content-wrapper
				div.content
					div.container-fluid

						// Add vertical spacing
						//- div.row.justify-content-center.mt-5
						//- div.row.justify-content-center.align-items-center(style="min-height: calc(100vh - 120px);")
						div.row.justify-content-center.align-items-center.px-3(style="min-height: calc(100vh - 120px);")
							div.col-md-4.col-sm-6.col-12

								div.card.card-primary
									div.card-header.text-center
										h3.card-title Forgot Password

									div.card-body
										p.login-box-msg.text-center.mb-4
											| Contact System Admin

									div.card-footer.text-center
										div.row
											div.col-4
												a(href="/") Home
											div.col-4
												// Nothing at the moment
											div.col-4
												a(href="/auth/help") Help

			include ../../layout/cgFooter-no-session.pug
			include ../../layout/cgJs.pug

	script.
		$(document).ready(function(){
			console.log("Page ready");
		});