footer.main-footer
	strong
		| Copyright &copy; 2014-2021 &nbsp;
		a(href="http://lalulla.com") Lalulla OPC. 
	| &nbsp; All rights reserved.
	div.float-right.d-none.d-sm-inline-block
		|  <b>Entity:</b>&nbsp; #{session.entityid}
		|  <b>App ID:</b>&nbsp; #{session.cgAppId}
		|  <b>Version</b>&nbsp; #{session.cgAppVersion}