title Lalulla
link(rel='icon', href='/images/logos/favicon.ico')

//AdminLTE 3.2
link(rel='stylesheet' href='/admin-lte/css/adminlte.css')

//Font Awesome Free
link(rel='stylesheet' href='/admin-lte/plugins/fontawesome-free/css/all.css')

//iCheck-Bootstrap
link(rel='stylesheet' href='/admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css')

