//jQuery 3.5.1+
script(type='text/javascript', src='/admin-lte/plugins/jquery/jquery.min.js')

//Popper 1.16.1
script(type='text/javascript', src='/admin-lte/plugins/popper/popper.min.js')

//Bootstrap 4.6
script(type='text/javascript', src='/admin-lte/node_modules/bootstrap/js/bootstrap.js')

// AdminLTE - JMD 10/22/2023
script(type='text/javascript', src='/admin-lte/js/adminlte.min.js')

//Sweetalert ^11.26.22
script(type='text/javascript', src='/plugins/sweetalert2/sweetalert2.all.min.js')


script.
    document.addEventListener("DOMContentLoaded", function () {

        //Logout button
        document.querySelectorAll('.logout-btn').forEach(btn => {
            btn.addEventListener('click', function (e) {
                e.preventDefault();
                const logoutUrl = this.getAttribute('data-href');

                Swal.fire({
                    title: 'Logout?',
                    text: 'You are about to be signed out.',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#aaa',
                    confirmButtonText: 'Yes, logout'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = logoutUrl;
                    }
                });
            });
        });

        //Redirect button - allows hiding of URL for all attributes
        document.querySelectorAll('.redirect-btn').forEach(btn => {
            btn.addEventListener('click', function (e) {
                e.preventDefault();
                const redirectUrl = this.getAttribute('data-href');
                window.location.href = redirectUrl;

            });
        });


    });