//jQuery 3.5.1+
script(type='text/javascript', src='/admin-lte/plugins/jquery/jquery.min.js')

// AdminLTE - JMD 10/22/2023
script(type='text/javascript', src='/admin-lte/js/adminlte.min.js')

//Bootstrap 4.6
script(type='text/javascript', src='/admin-lte/node_modules/bootstrap/js/bootstrap.js')

//Popper 1.16.1
script(type='text/javascript', src='/admin-lte/plugins/popper/popper.min.js')

